/* /assets/style.css */

/* Estilo base para os inputs para garantir consistência */
.styled-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Garante que padding e borda não aumentem a largura total */
    transition: border-color 0.3s; /* Animação suave na mudança de cor */
}

/* Estilo para o input quando o valor for inválido */
.invalid-input {
    border-color: red !important; /* Deixa a borda vermelha */
    border-width: 2px !important;   /* Deixa a borda um pouco mais grossa para destacar */
}

/* Estilo para a mensagem de erro que aparece embaixo do input */
.error-message p {
    color: red;                 /* Deixa o texto da mensagem vermelho */
    font-size: 0.9em;           /* Tamanho da fonte um pouco menor */
    margin: 0;
    padding: 0;
    margin-top: -4px; /* Ajuste para aproximar a mensagem da caixa */
    margin-bottom: 5px;
}

/* Estilos gerais para os botões do seu app */
.nav-button, .action-button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.nav-button {
    background-color: #007bff;
}

.nav-button:hover {
    background-color: #0056b3;
}

.action-button {
    background-color: #28a745;
    margin-top: 10px;
}

.action-button:hover {
    background-color: #218838;
}
